.contenedor-principal{
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.header-item{
    position:fixed;
    height: auto;
    width: auto;
    flex: auto;
    border: 1px solid black;
}

.icono{
    width: 150px;
    position:relative;
    right: 0;
}

.opciones{
    position:fixed;
}